{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Controle de Matrículas</title>
</head>
<body>
    <h1>LISTA DE ALUNOS</h1>
    <a href="{% url 'createStudent' %}">
        <button id="btn_cadastro">Novo Cadastro</button>
    </a>
    <table>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Endereço</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>Curso</th>
            <th>Ações</th>
        </tr>
        {% for aluno in alunos %}
            <tr>
                <td><a href="showStudent/{{ aluno.id }}">{{aluno.nome}}</a></td>
                <td>{{aluno.data_de_nascimento}}</td>
                <td>{{aluno.endereco}}</td>
                <td>{{aluno.email}}</td>
                <td>{{aluno.cidade}}</td>
                <td>{{aluno.curso}}</td>
                <td>
                    <button style="background-color: blue"><a href="editStudent/{{ aluno.id }}">Editar</a></button>
                    <button style="background-color: red"><a href="deleteStudent/{{ aluno.id }}">Remover</a></button>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>