{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>LISTA DE ALUNOS</h1>
    <table>
        <th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>Curso</th>
            <th>Ações</th>
        </th>
        {% for aluno in alunos %}
            <tr>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.endereco}}</td>
                <td>{{aluno.email}}</td>
                <td>{{aluno.curso}}</td>
                <td>
                    <button>Editar</button>
                    <button>Remover</button>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>